*.iml
.gradle
.idea
.DS_Store
build
node_modules
cmp-ui-docs/web/generated-api-docs.json
cmp-ui-docs/web/generated-color-scheme.json
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.kotlin
#So we don't accidentally commit our private keys
*.gpg

.swiftpm-locks

example/androidApp/google-services.json
example/iosApp/iosApp/GoogleService-Info.plist
# KMP iOS linked package (build generated)
example/iosApp/KotlinMultiplatformLinkedPackage/
example/iosApp/iosApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
cmp-ui/MIGRATION.md